<mat-checkbox color="primary" (click)="toggleItem.emit(item)" [checked]="item.checked"></mat-checkbox>
<a [class.done]="item.checked" [routerLink]="['../../checklist', item.category, item.id]">{{ item.title }} ({{ item.time }})</a>
<!-- <a [routerLink]="['../../checklist', item.category, item.id]"><mat-icon>info</mat-icon></a> -->
<!-- <a [href]="item.url" target="_blank"><mat-icon>link</mat-icon></a> -->

<div class="item-link">
  <a [routerLink]="['../../checklist', item.category, item.id]"
    ><button mat-button><mat-icon>info_outline</mat-icon></button></a
  >
  <a [href]="item.url" target="_blank"
    ><button mat-button><mat-icon>link</mat-icon></button></a
  >
</div>

<ac-checklist-favorite-button
  [active]="item.favorite"
  (toggle)="toggleFavorite.emit(item)"
></ac-checklist-favorite-button>
